<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title></title>
</head>
<body>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f5f5f5;box-sizing:border-box">
  <tbody style="box-sizing:border-box">
  <tr style="box-sizing:border-box">
    <td style="box-sizing:border-box">
      <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="box-sizing:border-box">
        <tbody style="box-sizing:border-box">
        <tr style="box-sizing:border-box">
          <td style="box-sizing:border-box">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="box-sizing:border-box;color:#000;width:600px">
              <tbody style="box-sizing:border-box">
              <tr style="box-sizing:border-box">
                <td width="100%" style="border:0;box-sizing:border-box;font-weight:400;padding-bottom:5px;padding-top:5px;text-align:left;vertical-align:top">
                  <div style="box-sizing:border-box;font-size:1px;height:20px;line-height:20px">&hairsp;</div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<table border="0" cellpadding="10" cellspacing="0" width="100%" style="box-sizing:border-box">
                    <tbody>
                    <tr style="box-sizing:border-box">
                      <td style="box-sizing:border-box;padding-top:32px;">
                        <div align="center" style="box-sizing:border-box">
                          <div style="background-color:#85DEAB80;border:0 solid transparent;border-radius:6px;box-sizing:border-box;color:#fff;display:inline-block;font-family:'roboto', sans-serif;font-size:14px;font-weight:400;padding-bottom:5px;padding-top:5px;text-align:center;text-decoration:none;width:auto">
                            <span style="box-sizing:border-box;display:inline-block;padding: 12px 40px;color:#111012;font-weight:700;font-size:36px;"><span dir="ltr" style="box-sizing:border-box;line-height:42.19px;word-break:break-word;margin-left:0.25em;">
                              <p>{{ activation_link }}</p>
                            </span>
                          </span>
                          </div>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>
</body>
</html>